# Environment configuration for the application
NODE_ENV=development/production

# Server configuration
PORT=your-port-no
CORS_ORIGIN=your-frontend-origin-url

# Gemini API Key
GOOGLE_GEMINI_API_KEY=your-gemini-api-key

DATABASE_URL=your-database-url
